@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
  border-style: none;
}

header, #nav-title {
  font-family: 'Gloock', serif;
}

body {
  width: 100%;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;

  background-image: linear-gradient(#FFC75F, #FAF7F0);
}

.button {
  font-size: 16px;
  border-radius: 30px;

  color: white;
  background-color: #554994;
  border-style:none;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  
  transition-duration: 0.4s;
}

/* Draws a larger drop shadow below buttons when they are hovered over with the cursor/mouse */
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.15);
}

.navbar {
  display: flex;
  border-bottom: 3px solid #e7b355;

  padding: 1rem;
  background: #ffc75f;
  color: white;
  font-size: 26px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

#navigation {
  display: flex;
  list-style-type: none;
}
#nav-title {
  flex: 1;
  margin: 4rem 2rem 1rem 2rem;
  text-align: left;
}
#nav-logo {
  object-fit: scale-down;
}
#nav-profile,
#nav-translation {
  flex: 1;
  padding-right: 8rem;
  padding-top: 1.5rem;
}

#get-started {
  text-align: center;
  margin-right: 9rem;
  margin-top: 1rem;
}

.login-container {
  display: flex;
}

.login-input {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2rem;
  margin-left: 3rem;
  background-color: #efefef;
  border-radius: 10px;
  border-bottom: 10px solid #845ec2;
}

#input-text {
  height: 100%;
  width: 75%;
  color: grey;
  background-color: transparent;
  border: none;
  text-align: top;
  font-size:large;
}
#input-text:focus {
    border: none;
    background: transparent;
    outline-width: 0;
}

#translate-button,
#login-button {
  background-color: #845ec2;
  color: white;
  border-radius: 10px;
}
#login-button {
    margin: 0;
    width: 30px;
    height: 30px;
    
}

#logo {
  object-fit: contain;
  padding-left: 5px;
  max-width: 15rem;
  max-height: 15rem;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

#nav-logo {
  width: 120px;
}